* {
    /* outline: 1px solid red; */
}

.cart li img {
    width: 125px;
    height: 125px;
    overflow: hidden;
    object-fit: cover
}

.cart h6,
.cart input {
    color: #7D7D7D;
}

.cart p {
    color: #7971D9;
}

.cart label {
    font-size: 10px;
}

.custom-p {
    padding: 13px 28px;
}

form div .form-control {
    border: 1px solid #9d89ff65;
    font-size: 13px;
}


form div .form-control::placeholder {
    color: #ADA9C0;
    font-size: 14px;
}

#quantity {
    width: 77px;
}