.list-group-item.active {
    background-color: white;
    color: black;
    border: 1px solid #9C89FF;
}
.list-group li img{
    width: 42px;
    height: 42px;
}

.list-group li{
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    cursor: pointer;
}

.list-group li:hover {
    border: 1px solid #9C89FF;
    background-color: #f2efff;
}

.col-md-1{
    margin-right: 50px;
    text-wrap: wrap;
}
.product-card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px); 
}