<header class="navbar bg-body-tertiary shadow-sm">
    <div class="container-fluid px-4 py-1 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
            <img src="assets/icons/leaf.png" alt="Leaf Icon" width="18" height="16">
            <p class="mb-0 fw-semibold gray">Let's order fresh items for you.</p>
        </div>
        <div class="d-flex gap-2">
            <button class="btn btn-outline-purple px-3" data-bs-toggle="modal" data-bs-target="#signupModal">Signup</button>
            <button class="btn btn-solid-purple px-3" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
        </div>
    </div>
</header>
