<aside class="d-flex h-100 align-items-center flex-column flex-shrink-0 bg-body-tertiary border-end" style="width: 4.5rem;">
    <a href="/" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="right" title="Organic Shop">
        <img src="assets/icons/nav-logo.svg" class="nav-logo" alt="Organic Shop Logo">
    </a>
    <nav>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item nav-active mb-3 rounded-4">
                <a href="/" class="nav-link py-3" aria-current="page" data-bs-toggle="tooltip"
                    data-bs-placement="right" title="Home">
                    <img src="assets/icons/nav-home.svg" alt="Home Icon" width="21" height="21">
                </a>
            </li>
            <li class="nav-hover rounded-4">
                <a href="#" class="nav-link py-3" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Dashboard">
                    <img src="assets/icons/nav-product.svg" alt="Dashboard Icon">
                </a>
            </li>
        </ul>
    </nav>
</aside>
